* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #202020;
  background: url("assets/space.png");
  animation: slowspin linear 25s infinite;
  color: #f0f0f0;
  font-family: Helvetica, Arial, sans-serif;
}
@keyframes slowspin {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
.gray-gradient {
  background-image: linear-gradient(#99A2A2, #556060);
}
footer {
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  height: 25rem;
  width: 100%;
  bottom: 0;
  padding: 1rem;
}
footer.hidden {
  display: none;
}
ul {
  list-style: none;
}
li {
  margin-bottom: 1rem;
}
p {
  display: inline-block;
  margin-right: 1rem;
}
.sliders label {
  margin-right: 1rem;
}

.radio-buttons input[type="radio"] {
  /* display: none; */
  position: absolute;
  left: -9999px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

.radio-buttons label {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  margin: 0;
  border: 1px #999 solid;
  border-right: none;
  margin: -2px;
}
.radio-buttons label:last-child {
  border-right: 1px #999 solid;
  border-radius: 0 10px 10px 0;
}
.radio-buttons label:nth-child(3) {
  border-radius: 10px 0 0 10px;
}
.radio-buttons input[type="radio"]:checked+label {
  background-color: #1060ff;
  font-weight: bold;
}